%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "en-us", "http-equiv" => "Content-Language"}/
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Place
    :css
      .auto-style1 {
      	margin-left: 59px;
      }
      .auto-style2 {
      	text-align: right;
      }
      .auto-style3 {
      	font-size: xx-large;
      	background-color: #FFFFFF;
      }
      .auto-style4 {
      	margin-left: 125px;
      }
      .auto-style6 {
      	text-align: right;
      	margin-left: 560px;
      }
      .auto-style7 {
      	margin-right: 7px;
      }
      .auto-style8 {
      	margin-left: 640px;
      }
      .auto-style10 {
      	margin-left: 117px;
      }
  %body{:style => "width: 857px; height: 625px"}
    %p.auto-style2{:style => "width: 817px; height: 180px"}
      %img{:height => "179", :src => "1.png", :style => "float: left", :width => "446"}>/
      \&nbsp;&nbsp;&nbsp;
      %strong>
        %span.auto-style3 Quick Rent Listings
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %p{:style => "width: 157px"}
      %strong Place
      %select.auto-style1{:title => "place", :style => "width: 59px"}
        %option
        %option{:value => "Main Street"} Main Street
        %option{:value => "Vestal"} Vestal
        %option{:value => "Oak Street"} Oak Street
        %option{:value => "Floral"} Floral Area
    %p.auto-style4{:align => "center", :style => "width: 694px"} &nbsp;
    %p.auto-style4{:align => "center", :style => "width: 694px"}
      \&nbsp;
      %strong>
        Purpose
      \&nbsp;&nbsp;
      %select{:title => "purpose", :style => "width: 143px"}
        %option
        %option{:value => "Residential Short Term"} Residential Short Term
        %option{:value => "Residential Long Term"} Residential Long Term
        %option{:value => "Kitty Party and GT"} Kitty Party and GT
        %option{:value => "Other Celebrations"} Other Celebrations
      = succeed "&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;" do
        %strong
          \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Type
      = succeed "&amp;nbsp;" do
        %select{:title => "type_of_house", :style => "width: 91px"}
          %option
          %option{:value => "1 BHK"} 1 BHK
          %option{:value => "2 BHK"} 2 BHK
          %option{:value => "3 BHK"} 3 BHK
          %option{:value => "4 BHK"} 4 BHK
          %option{:value => "5 BHK"} 5 BHK
      = succeed "&amp;nbsp;&amp;nbsp;" do
        %strong
          \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          Dates
      %label#Label1
        \&nbsp;
        %select{:title => "Select1"}
          %option
        to
        = succeed "&amp;nbsp;" do
          %select{:title => "Select2"}
            %option
            %option{:value => "1"} 1
            %option{:value => "2"} 2
            %option{:value => "3"} 3
            %option{:value => "4"} 4
            %option{:value => "5"} 5
            %option{:value => "6"} 6
            %option{:value => "7"} 7
            %option{:value => "8"} 8
    %p.auto-style6{:style => "width: 227px"}
      %strong Range
      %label#Label2
        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        %select{:title => "Select6"}
          %option
          %option{:value => "100$"} 100$
          %option{:value => "200$"} 200$
          %option{:value => "300$"} 300$
          %option{:value => "400$"} 400$
          %option{:value => "500$"} 500$
          %option{:value => "600$"} 600$
        to
        = succeed "&amp;nbsp;" do
          %select{:title => "Select7"}
            %option
            %option{:value => "100$"} 100$
            %option{:value => "200$"} 200$
            %option{:value => "300$"} 300$
            %option{:value => "400$"} 400$
            %option{:value => "500$"} 500$
            %option{:value => "600$"} 600$
    %label#Label3
    %label#Label4
    %label#Label5
    %label#Label6
    %label#Label7
    %label#Label8
    %label#Label9
    %p.auto-style8{:style => "width: 142px; height: 26px;"}
      %strong> View
      \&nbsp;
      %select.auto-style7{:title => "Select8"}
        %option
        %option{:value => "30 Houses"} 30 Houses
        %option{:value => "40 Houses"} 40 Houses
        %option{:value => "50 Houses"} 50 Houses
    %p.auto-style10{:style => "width: 204px; height: 195px"}
      %img{:height => "200", :src => "free-locator-service.jpg", :width => "453"}/