%h1 Login



= form_tag login_path id: "Login" do


  = label :user, :name, 'name'
  = text_field :user, 'name'

  = label :user, :password, 'password'
  = password_field :user, 'password'

  = submit_tag 'Login', :id => 'Login'
= link_to 'Back to House Listings', houses_path
%p~ "\n"

-#= link_to 'sample',sample_house_path