%h1 Login

= form_for houses_path do

  = label :house, :title, 'Name'
  = text_field :house, 'title'

  = label :house, :release_date, 'Password'
  = password_field :house, 'release_date'

  = submit_tag 'Login'
= link_to 'Back to House Listings', houses_path