-# edit.html.haml using partial

%h1 Edit House Listing

= form_tag movie_path(@movie), :method => :put do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :release_date, 'Date available On'
  = date_select :movie, :release_date

  = submit_tag 'Update House Listing'
= link_to 'Back to house listings', movies_path