-#  This file is app/views/movies/index.html.haml
%h1 House Listings
%table#movies
  %thead
    %tr
      %th{:class => @title_header}= link_to 'House', movies_path(:sort_by => 'title'), :id => 'title_header'
      %th{:class => @release_date_header}= link_to "Date available", movies_path(:sort_by => 'release_date'), :id => 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

-#= link_to 'Add new movie', new_movie_path