%h1 Login

= form_for movies_path do

  = label :movie, :title, 'Email'
  = text_field :movie, 'title'

  = label :movie, :release_date, 'Password'
  = password_field :movie, 'release_date'

  = submit_tag 'Login'
= link_to 'Back to House Listings', movies_path